<!DOCTYPE html>

<html>
  <head>
    <title>My todolist</title>
    <style>
      /* Normalise buttons/input */

      button,
      input {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }

      button,
      input {
        overflow: visible;
      }

      button,
      select {
        text-transform: none;
      }

      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }

      h1 {
        color: black;
      }

      a {
        text-decoration: none;
        color: black;
      }

      ul {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
      }

      p {
        margin: 0 0 0 0;
      }

      body {
        margin: 4rem 6rem;
      }

      .todolist > * {
        margin-bottom: 1rem;
      }

      .todolist {
        margin: 2rem 0;
      }

      .todo-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40rem;
      }

      .outer-btn {
        margin: 2rem 0;
      }

      .todo-item p {
        flex-grow: 1;
      }

      .edit-form > * + *,
      .todo-item > * + * {
        margin-left: 1rem;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <h1>Todolist</h1>
    <ul class="todolist">
      <% todolist.forEach(function(todo, index) { %>
      <li class="todo-item">
        <form class="list-btn" action="/todo/delete/<%= index %>" method="get">
          <button
            aria-label="delete word"
            class="level-two-btn delete-btn"
            type="submit"
          >
            ✘
          </button>
        </form>
        <p id="todo<%- index%>"><%- todo %></p>
        <% if(index !== Number(toEdit)) { %>
        <form action="/todo/edit/<%= index %>" method="get">
          <button
            aria-label="edit word"
            class="level-two-btn edit-btn"
            type="submit"
          >
            Edit
          </button>
        </form>
        <% } %> <% if(index === Number(toEdit)) { %>
        <form class="edit-form" action="/todo/replace/" method="post">
          <input
            aria-label="input for desired edit"
            type="text"
            name="revision"
            id="editentry"
          />
          <button
            aria-label="confirm edited word"
            class="level-two-btn confirm-btn"
            type="submit"
          >
            Confirm
          </button>
          <input
            type="hidden"
            id="toedit"
            name="toedit"
            value="<%- toEdit %>"
          />
        </form>
        <form class="list-btn" action="/todo/canceledit/" method="get">
          <button
            aria-label="cancel edit"
            class="level-two-btn cancel-btn"
            type="submit"
          >
            Cancel
          </button>
        </form>
        <% } %>
      </li>
      <% }); %>
    </ul>
    <form class="outer-btn" action="/todo/add/" method="post">
      <p>
        <label for="newtodo">Add todo&nbsp;</label>
        <input type="text" name="newtodo" id="newtodo" autofocus />
        <button type="submit">Add</button>
      </p>
    </form>
    <form action="/todo/reset/" method="get">
      <button aria-label="reset form" type="submit">Reset</button>
    </form>
  </body>
</html>
